### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [23]:

total = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players":[total]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
num_unique_items = len(purchase_data["Item ID"].unique())#this is wrong value
#num_unique_items
Avg_price = purchase_data["Price"].mean()
num_purch = len(purchase_data['Price'])
total_rev = purchase_data["Price"].sum()
items =pd.DataFrame({"Number of Unique Items":[num_unique_items], 'Average Price': [Avg_price], 'Number of Purchases': [num_purch], 'Total Revenue': [total_rev]})
items['Average Price'] = items['Average Price'].map("${:.2f}".format)
items['Total Revenue'] = items['Total Revenue'].map("${:.2f}".format)
items

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
#just grab SN and Gender from purchase data
player = purchase_data[['SN', 'Gender']]
unique_player= purchase_data.drop_duplicates('SN')
#unique_player checking to see if I drop to 576
male = len(unique_player.loc[unique_player['Gender']== 'Male'])
#male = 484  #Checking to see if male is working
female = len(unique_player.loc[unique_player['Gender']== 'Female'])
#female = 81 Checking to see if it works again
other = len(unique_player.loc[unique_player['Gender']== 'Other / Non-Disclosed'])
#other = 11 Genders looking good now
male_percent = male/len(unique_player)*100
#male_percent= 84.02 looks good 
female_percent = female/len(unique_player)*100
#female_percent = 14.06 looks good
other_percent = other/len(unique_player)*100
#other_percent = 1.909 looks good again need to map these to percentages 
genders = pd.DataFrame({'Total Counts':[male,female,other], 'Percentage of Players':[male_percent,female_percent,other_percent]}, index=['male','female','other'])
#genders looks good just needs mapping 
genders['Percentage of Players'] = genders['Percentage of Players'].map("{:.2f}%".format)
genders

        Total Counts Percentage of Players
male             484                84.03%
female            81                14.06%
other             11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
purchase_gender = purchase_data.groupby(['Gender'])
purchase_by_gender = purchase_gender['Gender'].count()
#purchase_by_gender.head() #shows number of purchases by each gender looks right
avg_purchase = purchase_gender['Price'].mean()
#avg_purchase #Matches whats shown in sample
total_purchase = purchase_gender['Price'].sum()
#total_purchase
#putting all the lists together
purchases_by_gender =pd.DataFrame({ 'Purchase Count': [purchase_by_gender[0],purchase_by_gender[1],purchase_by_gender[2]],
'Average purchase price':[avg_purchase[0],avg_purchase[1],avg_purchase[2]],
'total purchase value':[total_purchase[0],total_purchase[1],total_purchase[2]],
'Avg Total Purchase per Person':[(total_purchase[0]/female),(total_purchase[1]/male),(total_purchase[2]/other)]},
index=['female','male','other']
)
#this looks like a hot mess of slop but it looks right 
#purchases_by_gender# need to map this out so its clean looking

purchases_by_gender['Average purchase price'] = purchases_by_gender['Average purchase price'].map("${:.2f}".format)
purchases_by_gender['total purchase value'] = purchases_by_gender['total purchase value'].map("${:.2f}".format)
purchases_by_gender['Avg Total Purchase per Person'] = purchases_by_gender['Avg Total Purchase per Person'].map("${:.2f}".format)
purchases_by_gender

,Purchase Count,Average purchase price,total purchase value,Avg Total Purchase per Person
female,113,$3.20,$361.94,$4.47
male,652,$3.02,$1967.64,$4.07
other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [138]:
#Cut out everything but age and SN 
age = purchase_data[['SN', 'Age']]
#filter out duplicate SN 
age_unique = purchase_data.drop_duplicates('SN')
#age_unique.count() = 576 
#Make bins 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34','35-39', '40+']
age_unique['Age Group'] = pd.cut(age_unique['Age'], bins, labels=group_names, include_lowest=True)
age_unique = age_unique.rename(columns={'Age':'Total Count'})
age_unique['Percentage of players'] = (age_unique["Total Count"]/total*100)
age_unique = age_unique[['Age Group', 'Total Count', 'Percentage of players']]
age_unique = age_unique.groupby('Age Group')
#I'm not entirely sure what I did here but it works 
age_unique = age_unique.count()
age_unique['Percentage of players'] = (age_unique["Total Count"]/total*100).map("{:.2f}%".format)

age_unique
#found an error in my values. In bins 10 should have been 9. Now corrected

           Total Count Percentage of players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [170]:
#Add my bin and labels to purchase data so that I will be able to groupby
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=group_names, include_lowest=True)
#purchase_data.head() #make sure it works. it does
#lets group by age range 
purchase_age = purchase_data.groupby('Age Range')
purchase_count = purchase_age['SN'].count()
#purchase_count #matches the example 
purchase_avg = purchase_age['Price'].mean()
#purchase_avg #looks like it'll match after mapping the values 
total_age_pur = purchase_age['Price'].sum()
#total_age_pur #still looking good needs mapping 
average_total = total_age_pur/age_unique['Total Count']
average_total#average_total #giving me the same as purchase_avg not sure what how I'm supposed to calculate this 
age_purchase_df = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price':purchase_avg, 'Total Purchase Value':total_age_pur, 'Avg Total Purchase per Person': average_total})
#age_purchase_df #now to map it all
age_purchase_df['Average Purchase Price'] = age_purchase_df['Average Purchase Price'].map("${:.2f}".format)
#age_purchase_df one down now to do all the others 
age_purchase_df['Total Purchase Value'] = age_purchase_df['Total Purchase Value'].map("${:.2f}".format)
age_purchase_df['Avg Total Purchase per Person'] = age_purchase_df['Avg Total Purchase per Person'].map("${:.2f}".format)
age_purchase_df
#I know Avg Total Purchase per Person is wrong not sure what calculation they want. 
#I needed to take total Purchase Value and divide it by the unique amount of players per age group. I'm bad at this :(
#Figured it out. I need to use the unique counts from the previous section

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [194]:
#Need just SN and Price
spenders = purchase_data[['SN','Price']]
#need to group by SN so I can ge purchase counts
spender_group = spenders.groupby('SN')
#need to count 
spenders = spender_group.count()
spenders['Average Purchase Price'] = (spender_group['Price'].mean())
spenders['Total Purchase Value'] = (spender_group['Price'].sum())
spenders = spenders.rename(columns={'Price': 'Purchase Count'})
spenders = spenders.sort_values(by=['Total Purchase Value'], ascending=False)
#spenders.head() # Needs mapping

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80